{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 0.3%"]
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
