@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic);

html,
body {
  height: 100%;
}
body,
input,
textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}
body {
  margin: 0;
}
body img {
  vertical-align: top;
}
body i {
  font-size: 14px;
}
body form {
  margin-bottom: 0;
}
body a:not(:hover) {
  text-decoration: none;
}
.table {
  display: table;
}
.table .row {
  display: table-row;
}
.table .cell {
  display: table-cell;
}
.pattern-cell {
  display: table;
}
.pattern-cell > * {
  display: table-cell;
  vertical-align: middle;
}
.ui {
  height: 100%;
  background-color: #fafafa;
}
.ui .login {
  height: 100%;
  width: 100%;
}
.ui .login .substrate {
  margin: 0 auto;
  width: 320px;
}
.substrate {
  padding: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.substrate h1 {
  margin-top: 0;
  margin-bottom: 15px;
}
.substrate p {
  margin-top: 0;
}
.substrate p:not(:last-child) {
  margin-bottom: 15px;
}
.substrate p:last-child {
  margin-bottom: 0;
}
.substrate .textbox:not(:last-child) {
  margin-bottom: 15px;
}
.substrate:not([class*="th-"]) {
  background-color: #ffffff;
  border-radius: 4px;
  color: #404040;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.substrate:not([class*="th-"]) h1 {
  font-size: 16px;
  font-weight: 600;
  color: #bfbfbf;
}
.substrate:not([class*="th-"]) a {
  color: #2b5279;
}
.substrate:not([class*="th-"]) .textbox i {
  color: #bfbfbf;
}
.substrate:not([class*="th-"]) .textbox input {
  border-width: 1px;
  border-style: solid;
}
.substrate:not([class*="th-"]) .textbox input:not(:focus) {
  border-color: #d3d3d3;
}
.substrate:not([class*="th-"]) .textbox input:focus {
  border-color: #bfbfbf;
}
.navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 160px;
}
.navigation ul {
  margin: 15px 0;
  padding-left: 0;
  list-style-type: none;
  border-bottom: 1px #366697 solid;
  border-top: 1px #203e5b solid;
}
.navigation:not([class*="th-"]) {
  background-color: #2b5279;
}
.navigation:not([class*="th-"]) .button.active {
  background-color: #26486a;
}
.navigation:not([class*="th-"]) .button {
  border-top: 1px #366697 solid;
  border-bottom: 1px #203e5b solid;
  color: #ffffff;
  width: 100%;
}
.page-wrapper {
  padding-left: 160px;
  max-width: 1024px;
}
.page-wrapper .page {
  padding-top: 30px;
}
.list-of-users ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.list-of-users ul li {
  position: relative;
  line-height: 40px;
  height: 40px;
}
.list-of-users ul li .control {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
}
.list-of-users ul li .control i {
  margin-right: 10px;
}
.list-of-users ul li .control button {
  height: 40px;
}
.list-of-users:not([class*="th-"]) li:not(:last-child) {
  border-bottom: 1px #d3d3d3 dotted;
}
.list-of-users:not([class*="th-"]) .control button {
  background-color: transparent;
  border: none;
}
.list-of-users:not([class*="th-"]) .control button:not(:hover) {
  color: #bfbfbf;
}
.list-of-users:not([class*="th-"]) .control button:hover {
  color: #2b5279;
}
.grid-container {
  display: table;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.grid-column {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.grid-column:not([class*="col-"]) {
  width: 100%;
}
.grid-column:not([class="col-"]) {
  float: left;
}
.grid-column.clearfix {
  clear: both;
}
.grid-row {
  clear: both;
}
.col-30 {
  width: 30%;
}
.col-40 {
  width: 40%;
}
.col-50 {
  width: 50%;
}
.col-60 {
  width: 60%;
}
.col-70 {
  width: 70%;
}
.col-80 {
  width: 80%;
}
button {
  font-family: 'Open Sans', sans-serif;
}
button:not([disabled]) {
  cursor: pointer;
}
button[disabled] {
  cursor: default;
}
button.rectangular {
  border-radius: 2px;
  padding: 0 15px;
  height: 40px;
}
button.rectangular i:first-child {
  margin-right: 10px;
}
button.rectangular i:last-child {
  margin-left: 10px;
}
button.square {
  border-radius: 2px;
  height: 40px;
  width: 40px;
  padding: 0;
}
button.clear {
  margin: 0;
  padding: 0;
}
button.clear::-moz-focus-inner {
  padding: none;
}
button.green {
  border: none;
}
button.green:not([disabled]) {
  background-color: #00d0a6;
  color: #ffffff;
}
button.blue-link {
  border: none;
}
button.blue-link:not([disabled]) {
  background-color: transparent;
  color: #2b5279;
}
button span {
  font-size: 13px;
  font-weight: 600;
}
a.button {
  display: inline-block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a.button.rectangular {
  border-radius: 2px;
  padding: 0 15px;
  height: 40px;
}
a.button.rectangular i:first-child {
  margin-right: 10px;
}
a.button.rectangular i:last-child {
  margin-left: 10px;
}
a.button.square {
  border-radius: 2px;
  height: 40px;
  width: 40px;
  padding: 0;
}
a.button.clear {
  margin: 0;
  padding: 0;
}
a.button.clear::-moz-focus-inner {
  padding: none;
}
a.button.green {
  border: none;
}
a.button.green:not([disabled]) {
  background-color: #00d0a6;
  color: #ffffff;
}
a.button.blue-link {
  border: none;
}
a.button.blue-link:not([disabled]) {
  background-color: transparent;
  color: #2b5279;
}
a.button span {
  font-size: 13px;
  font-weight: 600;
}
a.button.rectangular,
a.button.square {
  line-height: 40px;
}
a.button:hover {
  text-decoration: none;
}
div.button {
  display: inline-block;
  line-height: 40px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div.button span {
  font-size: 13px;
}
div.button input[type="file"] {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 100px;
  opacity: 0;
  cursor: pointer;
}
div.button.rectangular {
  border-radius: 2px;
  padding: 0 15px;
  height: 40px;
}
div.button.rectangular i:first-child {
  margin-right: 10px;
}
div.button.rectangular i:last-child {
  margin-left: 10px;
}
div.button.square {
  border-radius: 2px;
  height: 40px;
  width: 40px;
  padding: 0;
}
div.button.clear {
  margin: 0;
  padding: 0;
}
div.button.clear::-moz-focus-inner {
  padding: none;
}
div.button.green {
  border: none;
}
div.button.green:not([disabled]) {
  background-color: #00d0a6;
  color: #ffffff;
}
div.button.blue-link {
  border: none;
}
div.button.blue-link:not([disabled]) {
  background-color: transparent;
  color: #2b5279;
}
div.button span {
  font-size: 13px;
  font-weight: 600;
}
.textbox {
  position: relative;
}
.textbox:not(.icon) input {
  padding: 0 15px;
}
.textbox.icon > i {
  position: absolute;
  line-height: 40px;
  width: 40px;
  text-align: center;
}
.textbox.icon input {
  padding-left: 40px;
  padding-right: 15px;
}
.textbox:not(.save):not(.saved) .mark {
  display: none;
}
.textbox.save .mark,
.textbox.saved .mark {
  display: block;
}
.textbox textarea,
.textbox input {
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.textbox textarea {
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  resize: none;
}
.textbox textarea:not(.input) {
  padding-top: 15px;
  padding-bottom: 15px;
}
.textbox textarea.input {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
}
.textbox input {
  height: 40px;
  font-weight: 600;
}
.textbox .toolbar {
  position: absolute;
  right: 0;
  top: 0;
}
.textbox .toolbar button {
  border: none;
}
.textbox .toolbar span {
  display: inline-block;
  text-align: center;
  cursor: help;
}
.textbox .toolbar span i {
  line-height: 40px;
  margin-right: 10px;
}
.textbox .mark {
  position: absolute;
  right: 0;
  top: 0;
}
.textbox .mark .background {
  position: absolute;
  right: 0;
  top: 0;
}
.textbox .mark i {
  position: relative;
  z-index: 1;
  margin: 5px;
}
